@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
  box-sizing: border-box;
}

body {
  min-height: 100%;
  height: auto;
  width: auto;
  min-width: 100%;
}